fastapi~=0.115.6
uvicorn
aiogram~=3.17.0
asyncpg
sqlalchemy~=2.0.37
pydantic~=2.10.5
apscheduler~=3.11.0
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg2-binary==2.9.10
pydantic-settings~=2.7.1
starlette~=0.41.3
alembic~=1.14.1
httpx~=0.28.1
tenacity~=9.0.0